# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-5792191153972402

# Optional per-page slots
NEXT_PUBLIC_ADSENSE_SLOT_HOME=5441750473
NEXT_PUBLIC_ADSENSE_SLOT_WORLD=4414806931
NEXT_PUBLIC_ADSENSE_SLOT_ALARM=5129122809
NEXT_PUBLIC_ADSENSE_SLOT_TIMER=7523335946
NEXT_PUBLIC_ADSENSE_SLOT_STOPWATCH=6563260456
NEXT_PUBLIC_ADSENSE_SLOT_HOLIDAY=5419916789
