# Google AdSense Configuration
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-XXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_HOME=XXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_WORLD=XXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_ALARM=XXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_TIMER=XXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_STOPWATCH=XXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_HOLIDAY=XXXXXXXXXX
